<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/index.css" />
<h1>All Campgrounds</h1>
<form class="d-flex p-4" action="/campgrounds/find">
   <input
      class="form-control me-2"
      type="search"
      placeholder="Search Campgrounds"
      aria-label="Search"
      name="search"
   />
   <button class="btn btn-success" type="submit">Search</button>
</form>
<div class="mb-2" id="cluster-map"></div>

<div>
   <% for (let campground of campgrounds) {%>
   <div class="card" mb-3>
      <div class="row">
         <% if(campground.images.length){ %>
         <div class="col-md-4 align-self-center bg-light">
            <img
               class="img-fluid mx-auto d-block"
               src="<%=campground.images[0].url%>"
               alt=""
            />
         </div>
         <% } else {%>
         <div class="col-md-4">
            <img class="img-fluid" src="" alt="" />
         </div>
         <% } %>
         <div class="col-md-8">
            <div class="card-body">
               <h5 class="card-title"><%= campground.title %></h5>
               <p class="card-text"><%= campground.description %></p>
               <p class="card-text">
                  <small class="text-muted"><%= campground.location %> </small>
               </p>
               <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary">
                  View <%= campground.title %>
               </a>
            </div>
         </div>
      </div>
   </div>
   <% } %>
</div>
<script>
   const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
   // ignore error
   const campgrounds = {features: <%- JSON.stringify(campgrounds)%>}
</script>
<script src="/js/clusterMap.js"></script>
